.jf_cont_banner {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/desarrollo.jpg);
  
}
.jf_sombra{
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  text-align: center;
  background-color: rgb(16, 44, 87,0.8);
  color: white;
  margin: auto;
}


.jf_sombra hr{
 border-top: 2px solid white;
}
.jf_sombra h1{
  font-size: 8vw;
  border-top: 10px;
  color:white;
  
 }
 .jf_sombra_p{
  font-size:8vh;
  border-top: 10px;
  color: white;
  
 }

 .jf_contenedor_banner_link{
  margin: 15px;
  position: relative;
 }

 .jf_contenedor_banner_link a{
  position:relative;
  display: inline-block;
  color:white;
  text-decoration: none;
  border: 1px solid white;
  padding: 1px;
  margin-bottom: 5px;
  width: 150px;

 }

 .jf_contenedor_banner_link a:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
 }

 .jf_banner_link{
  opacity: 0;
  animation: jf_keyframes_aparecer_de_arriba 1s;
  -webkit-animation:jf_keyframes_aparecer_de_arriba 1s;
  animation-fill-mode: forwards;
 }

 .jf_banner_link_1{
  opacity: 0;
  animation: jf_keyframes_aparecer_de_arriba 1s;
  -webkit-animation:jf_keyframes_aparecer_de_arriba 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
 }

 .jf_banner_link_2{
  opacity: 0;
  animation: jf_keyframes_aparecer_de_arriba 1s;
  -webkit-animation:jf_keyframes_aparecer_de_arriba 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
 }
 .jf_banner_link_3{
  opacity: 0;
  animation: jf_keyframes_aparecer_de_arriba 1s;
  -webkit-animation:jf_keyframes_aparecer_de_arriba 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
 }
 .jf_banner_link_4{
  opacity: 0;
  animation: jf_keyframes_aparecer_de_arriba 1s;
  -webkit-animation:jf_keyframes_aparecer_de_arriba 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
 }

  .common-class {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);  
    position: relative;
    padding: 10%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 }

 .container1 {
  background-image: url(../img/ecommerce.webp);
}

.container2 {
  background-image: url(../img/empresa-diseno-paginas-web.jpg);
}

.container3 {
  background-image: url(../img/agencias-de-branding-en-colombia.webp);
}

.col {
  overflow: auto; 
}
  .jf_cont_banner_sec3_.row{
    background-color: rgb(16, 44, 87,0.7);
    color: #fff;
    padding: 2%;
      
  }
 .jf_cont_img{
  padding: 10%;
}
