* {
    margin:0;
    padding:0;
    box-sizing: border-box:
}

.body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.resaltado {
  color: black; 
  font-size:20px; 
  padding: 5px; 
  text-shadow: 2px 2px 4px #000000; 
}
.navbar-fijo {
  position: fixed;
  background-color: rgb(218, 192, 163, 0.7) !important;
 
}
.nav-link , .navbar-brand {
  font-size: 20px; 
  color: black; 
  text-shadow: 2px 2px 4px #000000; 
}

.jf_navbar {
  background-color: rgb(218, 192, 163, 0.7) !important;
}
.jf_navbar_div , .jf_nabar_ul {
  background-color: transparent !important;
}

.jf_section_1 {
 padding: 10%;
}
.jf_cont_sec_2_link{
  padding: 5%;
  width: 200 px;
}
.jf_cont_sec_1_link a{
  width: 200 px;
}
.jf_cont_sec_1_link hr{
  border-top: 2px solid #333;
}
.service-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#galeria col-lg-4 {
  margin: 0px important;
  padding: 25px;
}
#galeria img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease;
  
}
#galeria img:hover {
  border: 5px solid white;
}
.footer {
  background-color: rgb(16, 44, 87); 
  color: white; 
  padding: 20px 0; 
  width: 100%;"
 }
.logo {
  margin-top: 0;
  width: 50px;  
  height: 50px; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: none;
}

.newsletter-form {
  background-color: rgb(16, 44, 87); 
  padding: 5%;
  color: white;
  font-weight: bold;
}
.newsletter-form input {
  color: white;
  font-weight: bold;
}
.jf_cont_footer{
  background-color: rgb(16, 44, 87);
  padding: 10%;
  color: white;
  margin-top: 100px;
  text-decoration: none;
  display:block;

}
.jf_cont_img_footer{
  padding: 100%;
}

.align-right {
  float: right;
}

.whatsapp-icon img {
    background: transparent;

}
.whatsapp-container {
  display: right;
  align-items: right;
}

.whatsapp-text {
  margin-right: 10px; 
}
.align-with-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}